

div .main .photo p {
    font-size: 1.5em;
    text-align: left;
    background-color: #fff;
    color: #000;
    padding-left: 10px;   
}

div .main .photo p a {
    text-decoration: none;
    color: #b8b8b8;
}

div .main .photo p a:hover {
    background-color: #000;
}

div .main .photo > a {
   text-decoration: none;
   color: #000;
   font-weight: bold;
   display:inline-block;
   border: 1px solid #000;
   border-radius: 10px;
   width:200px;
   padding: 5px;
   margin: 5px;
}

div .main .photo > a:hover {
    background-color: #000;
    color: #fff;
}

img {
    display: block;
    margin: auto;
    padding: 15px;
}


div.photo {
    padding: 10px;
    border-style: solid;
    border-color:black;
    border-radius: 10px;
    float: left;
    text-align: center;
    margin: 5px auto;
    background-color: #fff;
    clear: both;
}


